
/* -----------------------------------*/
/* plane availabilities table: */

/*https://stackoverflow.com/questions/13455326/javafx-tableview-text-alignment*/
#plane-col, #block-col {-fx-alignment: CENTER;}

#airforce-col {-fx-background-color: #4682b4;}

#airforce-col-label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 1.3em;
}

/* -----------------------------------*/
/* charts: */

.chart-title {
	-fx-text-fill: #4682b4;
	-fx-font-size: 2em;
}

/* -----------------------------------*/
/* types pie chart: */

#type-heading-text {-fx-font-size: 1.8em;}
#plane-names-v-box {-fx-font-size: 1.2em;}

/* -----------------------------------*/