

/* plane availabilities table: -------*/

/*https://stackoverflow.com/questions/13455326/javafx-tableview-text-alignment*/
#plane-col, #block-col {
    -fx-alignment: CENTER;
}

#airforce-col {
 	-fx-background-color: #4682b4;
}

#airforce-col-label {
	-fx-text-fill: #ffffff;
 	-fx-font-size: 1.3em;
}

/* -----------------------------------*/
/* speeds bar chart and types pie chart: */

.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 2em;
}

/* --------------------------------------*/
/* pie chart plane types: */

#type-heading-text {
	-fx-font-size: 1.5em;
	-fx-padding: 10, 10, 10, 10;
	
	
}
