
/* -----------------------------------*/
/* plane availabilities table: */

/*https://stackoverflow.com/questions/13455326/javafx-tableview-text-alignment*/
#plane-col, #block-col {-fx-alignment: CENTER;}

#airforce-col {-fx-background-color: #4682b4;}

#airforce-col-label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 1.3em;
}

/* -----------------------------------*/
/* charts: */

.chart-title {
	-fx-text-fill: #4682b4;
	-fx-font-size: 2em;
}

/* -----------------------------------*/
/* types pie chart: */

#type-heading-text {-fx-font-size: 1.8em;}
#plane-names-v-box {-fx-font-size: 1.2em;}

/* -----------------------------------*/
/* list views: */

.list-view {
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-padding: 0;
}

/* -----------------------------------*/
/* air force and event cells: */

#airforce-cell,  #event-cell {-fx-background-color: #b5ffff;}
#airforce-cell:hover, #event-cell:hover {-fx-background-color: #80d8ff;}

#airforce-cell:selected:focused, #event-cell:selected:focused {
	-fx-background-color: #49a7cc;
	-fx-text-fill: #ffffff;
}

/* -----------------------------------*/
/* image view of repository link: */

#repo-image-view:hover {-fx-opacity: 0.0; /* ++++++++++++++ HMMM.... */
-fx-background-color: #49a7cc;}

/* -----------------------------------*/