

/* ----- plane availabilities table: -------*/

/* center table column data: */
#plane-col, #block-col {
    -fx-alignment: CENTER;
}

/*https://stackoverflow.com/questions/13455326/javafx-tableview-text-alignment*/
/* -----------------------------------------*/





.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 2em;
}

